<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable
	  name="customFileName"
	  value="${level}" />

	<targets>

		<target
		  name="errorlogfile"
		  xsi:type="File"
		  fileName="${basedir}/${customFileName}/${date:format=yyyyMMdd}.log" />
	</targets>

	<rules>
		<logger name="logRule" minlevel="Trace" writeTo="errorlogfile" />
	</rules>
</nlog>